{% extends 'shared/_layout.html' %}
{% load static %}
{% block title %}
    ویرایش رمز عبور
{% endblock %}
{% block custom_style %}
    <link rel="stylesheet" href="{% static 'css/user-panel.css' %}">
{% endblock %}
{% block content %}
    <section class="user-panel-container">
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        {% include 'account_module/includes/user_profile.html' with user=user %}
                        {% include 'account_module/includes/user_panel_items.html' %}
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <form id="my_form" method="post" action="{% url 'edit_user_password_view' %}">
                                    {% csrf_token %}
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">رمز عبور فعلی</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input placeholder="رمز عبور فعلی ..." name="current_password"
                                                   type="password"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">رمز عبور جدید</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input placeholder="رمز عبور جدید ..." name="new_password" type="password"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9 text-secondary">
                                            <button type="submit" class="btn btn-lg btn-block checkout-btn">ارسال
                                            </button>
                                        </div>
                                    </div>
                                    <br>
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="row">
                                                    <div class="col-sm-3"></div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <div class="alert alert-danger text-center">
                                                            <strong>{{ error|escape }}</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <div class="row">
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-9 text-secondary">
                                                    <div class="alert alert-danger text-center">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block custom_script %}

{% endblock %}