{% extends 'shared/_layout.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    صفحه کاربری
{% endblock %}
{% block custom_style %}
    <link rel="stylesheet" href="{% static 'css/user-panel.css' %}">
{% endblock %}
{% block content %}
    <section class="user-panel-container">
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        {% include 'account_module/includes/user_profile.html' with user=user %}
                        {% include 'account_module/includes/user_panel_items.html' %}
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">نام</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.first_name }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">نام خانوادگی</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.last_name }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">ایمیل</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.email }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">آدرس</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.address }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">رمز عبور</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        ********
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block custom_script %}

{% endblock %}